{% extends "layout.html" %}
{% set active_page = "automations" %}

{% block body %}
<br>
<div class="card">
    <div class="card-header">
        <h2>Configuration
            <button data-role='saveConfig'
                    class="btn btn-success rounded-circle waves-effect px-3 d-none"
                    update-url="{{ url_for('automations', action='update') }}"
                    role="button" data-toggle="tooltip" title="Save">
                <i class="fas fa-save" aria-hidden="true"></i>
            </button>
            <a class="float-right blue-text" target="_blank" data-intro="automations" >
                <i class="fa-solid fa-question"></i>
            </a>
        </h2>
    </div>
    <div class="card-body" id="configEditorBody"
         data-edit-details-url="{{ url_for('automations_edit_details') }}">
        <div id="configEditor"></div>
        <div id="editor-waiter" class="text-center my-4">
            <div>
                <h2>Loading configuration</h2>
            </div>
            <div>
                <h2><i class="fa fa-spinner fa-spin"></i></h2>
            </div>
        </div>
        <div id="configErrorDetails" style='display: none;'>
            <div>
                Error when fetching automation config. Resetting its configuration should fix the issue.
            </div>
            <div>
                <button class="btn btn-warning waves-effect" data-role='factoryResetConfig'
                        update-url="{{ url_for('automations', action='factory_reset') }}"><i class="fas fa-recycle"></i> Reset configuration to default values</button>
            </div>
        </div>
    </div>
    <div class="card-footer" id='saveConfigFooter' style='display: none;'>
        <button class="btn btn-outline-success waves-effect" data-role='saveConfig' update-url="{{ url_for('automations', action='update') }}">Save and apply configuration</button>
        <button class="btn btn-outline-warning waves-effect float-right" data-role='factoryResetConfig'
                update-url="{{ url_for('config_tentacle', name=name, action='factory_reset') }}"><i class="fas fa-recycle"></i> Reset configuration to default values</button>
    </div>
</div>
<br>
{% endblock %}

{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/common/resources_rendering.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
<script src="{{ url_for('static', filename='js/components/config_tentacle.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
{% endblock additional_scripts %}