{% extends "layout.html" %}
{% set active_page = "community" %}

{% from "macros/forms.html" import render_field %}

{% block body %}
<br>
<div class="row">
    <div class="col-12 col-md-6 my-2 py-0 h-100">
        <div class="card text-center community-card">
            <a href="{{url_for('community_tentacles')}}">
                <div class="card-header">
                    <h2>
                        OctoBot community Tentacles
                    </h2>
                </div>
                <div class="card-body">
                    <img src="{{url_for('static', filename='img/tutorial/portfolio.png')}}" class="img-fluid" alt="Community Tentacles">
                    <p>
                        Gateway to the octobot community tentacles
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="col-12 col-md-6 my-2 py-0 h-100">
        <div class="card text-center community-card">
            <a href="{{url_for('community_metrics')}}">
                <div class="card-header">
                    <h2>
                        OctoBot community Metrics
                    </h2>
                </div>
                <div class="card-body">
                        <img src="{{url_for('static', filename='img/tutorial/community_img.png')}}" class="img-fluid" alt="Community Tentacles">
                        <p>
                            Details usage data provided by the OctoBot community
                        </p>
                </div>
            </a>
        </div>
    </div>
</div>

<br>
{% endblock %}

{% block additional_scripts %}
{% endblock additional_scripts %}