{% extends "layout.html" %}
{% set active_page = "home" %}
{% block body %}
    <div update-url="{{ url_for('api.announcements') }}" class="alert alert-danger text-center d-none" role="alert" id="annoncementsAlert"></div>
    <span id="exchange-specific-data">
        <div class="card mt-2 mt-md-4">
            <div class="card-header"><h1>
                Profitability
                <a class="float-right text-danger" target="_blank" rel="noopener noreferrer" href="{{OCTOBOT_WIKI_URL}}/Understanding-profitability#profitability-in-octobot">
                    <i class="fa fa-question"></i>
                </a>
                </h1></div>
            <div class="card-body card-text" id="profitability_graph">
                <div id="graph-profitability-description"></div>
                <canvas id="graph-profitability" height="30%"></canvas>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-header"><h1>Watched markets</h1></div>
            <div class="card-body d-none text-center" id="loadingMarketsDiv">
                <h2>
                    OctoBot is starting, markets will be refreshed when available.
                </h2>
            </div>
            <div class="card-body text-center" name="loadingSpinner">
                <h2>
                    <i class="fa fa-spinner fa-spin"></i>
                </h2>
            </div>
            {% if backtesting_mode %}
                <div class="card-body" id="first_symbol_graph" update-url="{{ url_for('first_symbol') }}" backtesting_mode={{backtesting_mode}}>
                    <div id="graph-symbol-price"></div>
                </div>
            {% else %}
                {% for pair in watched_symbols %}
                    <div class="card-body candle-graph" id="{{pair}}_graph" backtesting_mode={{backtesting_mode}}>
                        <div class="watched-symbol-graph" id="{{pair}}_graph-symbol-price" symbol="{{pair}}"></div>
                    </div>
                {% endfor %}
                {% if not watched_symbols %}
                    <div class="card-body candle-graph" id="first_symbol_graph" update-url="{{ url_for('first_symbol') }}" backtesting_mode={{backtesting_mode}}>
                        <div id="graph-symbol-price"></div>
                    </div>
                    <div class="card-footer">No watched markets: using a default one. You can add <a href="#"><i class="far fa-star text-white" aria-label="Watched markets star"></i></a> watched markets in the <a href="{{ url_for('trading') }}">trading section</a>.</div>
                {% endif %}
            {% endif %}
        </div>
    </span>
    <br>
{% endblock %}

{% block additional_scripts %}
    <script src="{{ url_for('static', filename='js/common/custom_elements.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
    <script src="{{ url_for('static', filename='js/common/candlesticks.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
    <script src="{{ url_for('static', filename='js/components/dashboard.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
{% endblock additional_scripts %}