{% import 'macros/trading_state.html' as m_trading_state %}
{% import 'components/modals/trading_state_modal.html' as m_trading_state_modal %}
{% import 'components/modals/generic_modal.html' as m_generic_modal %}
<!doctype html>
<html lang="en">
    {% set active_page = active_page|default('home') -%}
    {% set page_title = page_title|default(active_page | replace("_", " ") | capitalize) -%}
    {% set startup_messages_added_classes = startup_messages_added_classes|default('') -%}
    {% set inner_startup_messages_added_classes = inner_startup_messages_added_classes|default('col-12') -%}

    <head>
        <title>{{ page_title }} - OctoBot</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Prevent search engines indexing -->
        <meta name="robots" content="noindex">

        <!-- Favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">

        {% block additional_meta %}
        {% endblock additional_meta %}

        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/ui-lightness/jquery-ui.css" integrity="sha384-XgQGwtMpBAzdVt3enHfJp3btU0JUUlr8SkglEJbUTcNIiIBj9fovNuSxOMZLhete" crossorigin="anonymous">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.4.0/css/all.css" integrity="sha384-iw3OoTErCYJJB9mCa8LNS2hbsQ7M3C0EpIsO/H5+EGAkPGc6rk+V8i04oW/K5xq0" crossorigin="anonymous">

        <!-- toaster -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" integrity="sha384-YzEqZ2pBV0i9OmlTyoz75PqwTR8If8GsXBv7HLQclEVqIC3VxIt98/U94ES6CJTR" crossorigin="anonymous">

        <!-- mdb CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" integrity="sha384-VB0/w/SA4yj77RioXx1gUta4sczGrqbM4McYM8Lbixo0bQjK270LMDrUcp12DETJ" rel="stylesheet" crossorigin="anonymous">

        <!-- Datatables -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" integrity="sha384-IDaX67uymf7bFJTnGqJdas2mKfz+0XonrvcR/ZLiQBW4NCINz7BMJYwX+6tlg9y0" crossorigin="anonymous">
        <!-- Select -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css" integrity="sha384-2SvkxRa9G/GlZMyFexHk+WN9p0n2T+r38dvBmw5l2/J3gjUcxs9R1GwKs0seeSh3" crossorigin="anonymous">

        <!-- Editable -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-editable.css', u=LAST_UPDATED_STATIC_FILES) }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" integrity="sha384-OXVF05DQEe311p6ohU11NwlnX08FzMCsyoXzGOaL+83dKAb3qS17yZJxESl8YrJQ" crossorigin="anonymous">

        <!-- W2UI -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/w2ui-dark-1.5.min.css', u=LAST_UPDATED_STATIC_FILES) }}">

        <!-- introjs-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js@7.0.1/introjs.min.css" integrity="sha384-Vck4FJIhIat27gWVBM++aKmJWSO9FeA7Gl7Zbo+ZeZgUtnv2YcHf9HPFZ4CSIeFc" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js@7.0.1/themes/introjs-modern.css" integrity="sha384-RP5n9cz00mKCFIzcN8B7dK41QSmmpc7Gtz1zxZeiaP+lxtpLXtCTYikHs9L/p2kU" crossorigin="anonymous">
        <!-- Own -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css', u=LAST_UPDATED_STATIC_FILES) }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css', u=LAST_UPDATED_STATIC_FILES) }}">

        {% block additional_style %}
        {% endblock additional_style %}
    </head>
    <body class="bg-dark" style="{% block body_style %}{% endblock body_style %}">
        <!-- Scripts -->
        <!-- At the beginning of the page : be available for template scripts -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha384-UG8ao2jwOWB7/oDdObZc6ItJmwUkR/PfMyt9Qs5AwX7PsnYn1CRKCTWyncPTWvaS" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js" integrity="sha384-GH7wmqAxDa43XGS89eXGbziWEki6l/Smy1U+dAI7ZbxlrLsmal+hLlTMqoPIIg1V" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.min.js" integrity="sha384-KA7m0DwgQGmeRC6Xre3hJO+ZxpanOauVh4Czdqbg8lDKJ3bZZYVYmP+y4F31x40L" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js" integrity="sha384-VDls8ImYGI8SwVxpmjX2Bn27U2TcNodzTNROTusVEWO55+lmL+H9NczoQJk6mwZR" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js" integrity="sha384-FbwKLBNNjVSNRt5ofr/4WX4UOVqG2xcQwoOipC0xnFMB/BqfRaDsuyKay/hVaPE6" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/2.1.0/showdown.min.js" integrity="sha384-GP2+CwBlakZSDJUr+E4JvbxpM75i1i8+RKkieQxzuyDZLG+5105E1OfHIjzcXyWH" crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-2.20.0.min.js" integrity="sha384-lqNbLAc8irUVsiXijo8d5LY0Ecc43bEe85kyAJgdi+CAvmBPO/L1SWp6EUxChKM/" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@json-editor/json-editor@2.9.1/dist/jsoneditor.min.js" integrity="sha384-dD6cprB8r+EJi9stkRzdAs5tfIzdCeXU+ztMGBgC3U2KIQBzSYTv7rqJQp1fJmMs" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" integrity="sha384-edQnMujp90eoACbp4sS9zj/0dMW+mjTJFxCNeW0hM7rVy4OutMVBq6ec4axiLP9U" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js" integrity="sha384-SfMwgGnc3UiUUZF50PsPetXLqH2HSl/FmkMW/Ja3N2WaJ/fHLbCHPUsXzzrM6aet"  crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" integrity="sha384-d3UHjPdzJkZuk5H3qKYMLRyWLAQBJbby2yr2Q58hXXtAGF8RSNO9jpLDlKKPv5v3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/intro.js@7.0.1/intro.min.js" integrity="sha384-Du1qtHnjTA8tiFynVHiYYcUtxaykXTAU+GJCsSDTkZLHC+yYQHSIBDMUbtefOu1M" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap-editable.min.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
        {# docs in http://w2ui.com/web/demos/#/grid/1 #}
        <script src="{{ url_for('static', filename='js/lib/w2ui-1.5.min.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
        <script src="{{ url_for('static', filename='js/common/cst.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
        <script src="{{ url_for('static', filename='js/common/json_editor_settings.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
        <script src="{{ url_for('static', filename='js/common/util.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
        <script src="{{ url_for('static', filename='js/common/bot_connection.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
        <script src="{{ url_for('static', filename='js/common/dom_updater.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
        <script src="{{ url_for('static', filename='js/common/required.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
        <script src="{{ url_for('static', filename='js/common/tutorial.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
        <script src="{{ url_for('static', filename='js/common/feedback.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
        {% if IS_DEMO or IS_CLOUD or IS_ALLOWING_TRACKING%}
        <script type="text/javascript">
            (function(c,l,a,r,i,t,y){
                c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
                t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
                y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "{{ TRACKING_ID }}");
        </script>
        {% endif %}
        <script src="https://tally.so/widgets/embed.js"></script>
        <script src="{{ url_for('static', filename='js/components/navbar.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>

        {% set show_nab_bar = show_nab_bar|default(True) -%}

        {% if show_nab_bar %}
            <nav class="navbar navbar-expand-lg navbar-dark sticky-top py-0 py-md-2" id="main-nav-bar">
                <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
                    <ul class="navbar-nav mr-auto" id="main-nav-left-part">
                        <li class="nav-item mx-1 px-0 my-auto {% if 'home' == active_page %} active{% endif %}">
                            <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li id="main-nav-trading" class="nav-item mx-1 px-0 my-auto {% if 'trading' == active_page %} active{% endif %}">
                            <a class="nav-link" href="{{ url_for('trading') }}">Trading</a>
                        </li>
                        <li id="main-nav-portfolio" class="nav-item mx-1 px-0 my-auto {% if 'portfolio' == active_page %} active{% endif %}">
                            <a class="nav-link" href="{{ url_for('portfolio') }}">Portfolio</a>
                        </li>
                        <li id="main-nav-profile" class="nav-item mx-1 px-0 my-auto {% if 'profile' == active_page %} active{% endif %}">
                            <a class="nav-link" href="{{ url_for('profile') }}">Profile</a>
                        </li>
                        <li class="nav-item mx-1 px-0 my-auto {% if 'accounts' == active_page %} active{% endif %}">
                            <a class="nav-link" href="{{ url_for('accounts') }}">Accounts</a>
                        </li>
                        {% if are_automations_enabled %}
                        <li class="nav-item mx-1 px-0 my-auto {% if 'automations' == active_page %} active{% endif %}">
                            <a class="nav-link" href="{{ url_for('automations') }}" aria-label="Logs">
                                <i class="d-inline d-xl-none fa-solid fa-repeat" data-toggle="tooltip" data-placement="top" title="Automations"></i>
                                <span class="d-none d-xl-inline">Automations</span></a>
                        </li>
                        {% endif %}
                        {% for plugin_tab in get_plugin_tabs(TAB_START) %}
                        <li class="nav-item mx-1 px-0 my-auto {% if plugin_tab.identifier == active_page %} active{% endif %}">
                            <a class="nav-link" href="{{ url_for(plugin_tab.route) }}">{{ plugin_tab.display_name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="mx-auto order-0">
                    <a class="navbar-brand mx-auto font-weight-bolder" href="{{ url_for('home') }}">
                        {% if is_in_stating_community_env() %}
                        <span class="badge badge-light">
                            Beta
                        </span>
                        {% endif %}
                        OctoBot
                        <i id="navbar-bot-status" class="fa fa-check" data-toggle="tooltip" data-placement="bottom" title="OctoBot operational"></i>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto" id="main-nav-right-part">
                        {% if (not is_login_required()) or (is_login_required() and is_authenticated()) %}
                        <li class="nav-item mx-1 px-0 my-auto" id="main-nav-trading-type">
                            <a class="nav-link" href="#" id="switchTradingState" aria-label="TradingSwitch">
                                {{ m_trading_state.display_trading_state(is_real_trading(get_current_profile()), get_enabled_trader(get_current_profile())) }}
                            </a>
                        </li>
                        {% endif %}
                        {% for plugin_tab in get_plugin_tabs(TAB_END) %}
                        <li class="nav-item mx-1 px-0 my-auto {% if plugin_tab.identifier == active_page %} active{% endif %}">
                            <a class="nav-link" href="{{ url_for(plugin_tab.route) }}">{{ plugin_tab.display_name }}</a>
                        </li>
                        {% endfor %}
                        {% if is_backtesting_enabled %}
                        <li class="nav-item mx-1 px-0 my-auto {% if 'backtesting' == active_page %} active{% endif %}"
                            id="main-nav-backtesting">
                            <a class="nav-link" href="{{ url_for('backtesting') }}">Backtesting</a>
                        </li>
                        {% endif %}
                        <li class="nav-item mx-1 px-0 my-auto {% if 'community' == active_page %} active{% endif %}"
                            id="main-nav-community">
                            <a class="nav-link" href="{{ url_for('community') }}">Community</a>
                        </li>
                        <li class="nav-item mx-1 px-0 my-auto {% if 'help' == active_page %} active{% endif %}">
                            <a class="nav-link" href="{{ url_for('octobot_help') }}">Help</a>
                        </li>
                        <li class="nav-item mx-1 px-0 my-auto {% if 'about' == active_page %} active{% endif %}">
                            <a class="nav-link" href="{{ url_for('about') }}">About</a>
                        </li>
                        <li class="nav-item mx-1 px-0 my-auto {% if 'logs' == active_page %} active{% endif %}">
                            <a class="nav-link" href="{{ url_for('logs') }}" aria-label="Logs"><i class="fa fa-bell" data-toggle="tooltip" data-placement="top" title="Event logs">
                                <span id="errors-count-badge" class="badge badge-warning"></span>
                            </i></a>
                        </li>
                        {% if is_advanced_interface_enabled %}
                        <li class="nav-item my-auto">
                            <a class="nav-link mx-1 px-0" href="{{ url_for('advanced.home') }}" aria-label="Advanced OctoBot"><i class="fa fa-cogs" data-toggle="tooltip" data-placement="top" title="Advanced OctoBot"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        {% endif %}

        <div class="container-fluid">
            <noscript>
                <br>
                <div class="alert alert-warning" role="alert">
                    <h2>Javascript is disabled</h2>
                    <p>Your browser doesn't allow javascript to be executed. To use the OctoBot web interface, please enable javascript and reload this page.</p>
                </div>
            </noscript>

            {% if startup_messages %}
            <div class="row text-center {{startup_messages_added_classes}}">
                <div class="alert alert-warning w-100 {{inner_startup_messages_added_classes}} mt-2 mb-0 my-md-4">
                    <a class="d-block d-md-none"
                       id="startup-messages-collapse-control"
                       data-toggle="collapse" href="#startup-messages-collapse"
                       aria-expanded="false" aria-controls="collapseOne">
                        <div role="tab" id="startup-messages-heading">
                          <h5 class="mb-0">
                                {{startup_messages | length }} important message{{'s' if startup_messages | length > 1 else '' }}
                          </h5>
                        </div>
                    </a>

                    <div id="startup-messages-collapse" class="collapse" role="tabpanel" aria-labelledby="startup-messages-heading">
                      <div>
                        {% for startup_message in startup_messages %}
                            <div>
                                {{ startup_message }}
                            </div>
                        {% endfor %}
                       </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% block body %}{% endblock %}
        </div>

        <!-- urls to read in js -->
        <span class="d-none" id="global-urls"
              data-website-url="{{OCTOBOT_WEBSITE_URL}}"
              data-docs-url="{{OCTOBOT_DOCS_URL}}"
              data-exchanges-docs-url="{{EXCHANGES_DOCS_URL}}"
        ></span>

        <!-- Modals -->
        {{ m_trading_state_modal.create_trading_state_modal(is_real_trading(get_current_profile()), get_enabled_trader(get_current_profile())) }}
        {{ m_generic_modal.create_generic_modal() }}

        <!-- Artificial padding to separate footer from the rest of the page -->
        <div class="pb-5"></div>
        <div class="pb-5"></div>
        <!-- Artificial padding  -->

        {% include "footer.html" %}

        <!-- Resources urls -->
        <span class="d-none" id="resources-urls"
              data-audio-media-url="{{ url_for('audio_media', name='', _external=True) }}"
              data-ping-url="{{ url_for('api.ping') }}"
        ></span>

        {% block additional_scripts %}
        {% endblock additional_scripts %}
        <script src="{{ url_for('static', filename='js/common/on_load.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
    </body>
</html>
