{% extends "layout.html" %}
{% set active_page = "trading" %}
{% import 'macros/tables.html' as m_tables %}
{% import 'macros/cards.html' as m_cards %}
{% import 'macros/starting_waiter.html' as m_waiter %}

{% macro extract_positions(position_list, sim_or_real) -%}
    {% for position in position_list %}
        {{ m_tables.position_tr(position, sim_or_real) }}
    {% endfor %}
{%- endmacro %}

{% block body %}
<br>

<div class="card">
    <div class="card-header d-flex justify-content-between">
        <div>
            <h2>
                <span class="float-left">
                    <a href="{{ origin_page if origin_page else url_for("trading")}}">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </span>
                &ensp;Profit and Loss history
            </h2>
        </div>
        <div>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link primary-pill"
                   href="#"
                   data-action="change-scale"
                   data-scale=""
                >Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link primary-pill active"
                   href="#"
                   data-action="change-scale"
                   data-scale="1d"
                >Daily</a>
              </li>
            </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="w-100">
            <div id="pnl_historyChart"
                 data-url="{{url_for('api.pnl_history', quote=reference_market, scale='')}}"
                 data-unit="{{reference_market}}"
                 class="h-100 w-100">
            </div>
        </div>
        <div class="w-100">
            <table id="pnl_historyTable"
                 data-unit="{{reference_market}}"
                 class="w-100">
            </table>
        </div>
    </div>
</div>
<br>

{% endblock %}

{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/common/custom_elements.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
<script src="{{ url_for('static', filename='js/common/pnl_history.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
<script src="{{ url_for('static', filename='js/components/pnl.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
{% endblock additional_scripts %}