{% extends "layout.html" %}
{% set active_page = "strategy_design" %}

{% from "macros/forms.html" import render_field %}

{% block body %}


<style>

.strategy_body {
    height: calc(100vh - 96px);
    position: fixed;
    width: 100vw;
}
    .container-fluid {
    margin: 0;
    padding: 0;
}

#charts {
    border:1px solid black;

    width: 100vw;
    height: calc(60vh - 96px);
}
#main-chart {
    height: calc(45vh - 98px) !important;
}
#sub-chart {
    height: 15vh !important;
}

.toolbox {
    border:1px solid black;

    width:100vw;
    height: 40vh;
}


.inside-tab-content {
    width: 100%;
    height: 35.8vh;
}

.hide {
    display: none;
}

</style>

<div class="strategy_body">
        <div id="charts" data-url="{{url_for('plotted_data')}}" class="resizable">
            <div id="main-chart" class="">
            </div>
            <div id="sub-chart" class="">
            </div>
        </div>
        <div id="toolbox" class="toolbox resizable">
           <div>
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#code-editor">Code Editor</a>
                    </li>
                    <li>
                        <a href="#strategy-tester">Strategy Tester</a>
                    </li>
                    <li>
                        <a href="#trade-history">Trade History</a>
                    </li>
                    <li>
                        <div>
                            <button route="{{ url_for('commands', cmd='restart') }}" type="button" class="btn btn-warning waves-effect">Restart Octobot</button>
                            <button id="reload-script" data-url="{{ url_for('update_plot_script') }}" type="button" class="btn btn-success waves-effect">Reload script</button>
                        </div>
                    </li>
                </ul>
            </div>

            <section id="code-editor" class="tab-content active">
            {% if True %}

                <iframe class="inside-tab-content"
                        src="http://localhost:8888"  <!-- todo open active script  / default root is trading profiles-->
                ></iframe>

            {% else %}
            <div class="inside-tab-content">
                https://microsoft.github.io/monaco-editor/
            </div>
            {% endif %}
            </section>
            <section id="strategy-tester" class="tab-content hide">
                <div class="inside-tab-content">
                    strategy tester
                </div>
            </section>
            <section id="trade-history" class="tab-content hide">
                <div class="inside-tab-content">
                    Trade History
                </div>
            </section>
        </div>
    </div>
</div>


{% endblock %}

{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/components/commands.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
<script src="{{ url_for('static', filename='js/components/strategy_design.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
{% endblock additional_scripts %}