{% extends "layout.html" %}
{% set active_page = "strategy_design" %}

{% import 'macros/strategy_design_optimizer_settings.html' as m_strategy_design_optimizer_settings %}


{% block body %}


<style>

/*Force full screen*/
.container-fluid {
    margin: 0;
    padding: 0;
}



/*TODO*/

.strategy_body, .tab-content, .toolbox-tabs, #toolbox .dropdown-menu,  #toolbox .dropdown-menu a {
    background: #131722;
     color: #b2b5be;
}



.toolbox-tabs {
    border-bottom: 1px solid #2a2e39;
    border-top: 1px solid #2a2e39;
}

.main-toolbox-tabs {
    border-top: 4px solid #2a2e39 !important;
}

.crisp {
    stroke: #2a2e39 !important;
}

.toolbox-buttons {
    background: #2a2e39;

}

.toolbox-buttons > button {
    margin: 0;
}
.main-toolbox-tabs .toolbox-buttons {
    margin-right: 50px;
}

.main-toolbox-tabs li:first-child {
    margin-left: 50px;
}

.toolbox-tabs > li, .toolbox-tabs > .toolbox-buttons:first-of-type {
    border-left: 1px solid #2a2e39 !important;
}

.toolbox-tabs > li:last-of-type, .toolbox-tabs > .toolbox-buttons:last-of-type {
    border-right: 1px solid #2a2e39 !important;
}

.toolbox-tabs > li > a {
    color: #b2b5be;
    padding: 11px 2rem;
    border: none !important;
}

.toolbox-tabs > li > a.active {
    color: #1e53e5 !important;
    border: none !important;
    background: none !important;
}

.toolbox-tabs > li > a:hover {
    border-color: unset !important;
    border: none !important;
    background: #2a2e39;
    border-radius: unset;
}

.noBorder {
    border:none
}

.strategy-toolbox {
    position: absolute;
}
.tab-content > div {
    height: 100%;
}

.ui-resizable-s {
    height: 20px;
    width: 100%;
    bottom: -10px;
    left: 0;
}

.toolbox-buttons .btn {
    border-radius: 0;
    background-color: #131722 !important;
    font-size: 1rem;
    text-transform: unset;
    padding: 8px 2rem;
}




body {
    /* looks better and gives more space */
    line-height: unset;
}


.toolbox-buttons .btn-success {
    color: #00c851;
}

.toolbox-buttons .btn-warning {
    color: #fb3;
}

.toolbox-buttons .btn-success:hover {
    background: #00c851 !important;
    color: #fff;
}

.toolbox-buttons .btn-warning:hover,
.toolbox-buttons .btn .btn-warning .btn-outline-warning:hover {
    background: #fb3 !important;
    color: #fff !important;
}

.toolbox-btn-divider {
    display: inline-block;
    width: 1px;
}

#toolbox .dropdown-menu a {
    border-radius:0;
    border-color: #2a2e39;
}

#toolbox .dropdown-menu a:hover {
    background: #2a2e39;
}

#backtesting-settings, #list-of-trades, #performance-summary, #strategy-settings, #optimizer {
    overflow: scroll;
}

#backtesting-inputs .card, #backtesting .card-body, #trading-inputs .card, #trading .card-body {
    background-color: #131722 !important;
    border: 1px solid #2a2e39 !important;
}

#backtesting-chart {
    height:65%;
    width: 100%
}

#backtesting-table {
    height:35%;
    width: 100%
}

#strategy-optimizer-inputs *{
    border-color: #2a2e39 !important;
}

#strategy-optimizer-inputs > .mx-4 > .row.border > div {
    line-height: 1.5;
    padding: 8px 2rem;
}


.strategy-toolbox .btn-outline-success {
    border: 1px solid #00c851 !important;
    6.8px 2rem !important
}

.strategy-toolbox .btn-outline-success:hover {
    color:#fff !important;
}

.fullscreen-btn-group {
    float: right;
    right: 8px;
    position: fixed;
}

.fullscreen-size-btn i {
    font-size: 20px;
    align-items: center;
    border-radius: 4px;
    cursor: default;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
    color: #b2b5be;
}

button.fullscreen-size-btn:hover {
    background: #2a2e39;
}

button.fullscreen-size-btn {
    background: none;
    border:none;
    margin-top: 4px;
}

.fullscreen-size-btn.is-full-screen i {
    color: #1e53e5;
}


@media only screen and (max-width: 600px) {

    .toolbox-tabs > li {
        border: unset !important;
    }
}

@media only screen and (max-width: 530px) {
    .toolbox-tabs > li:last-of-type {
        border-right:unset !important;
    }
}

</style>

<div class="strategy_body">
    <div id="charts"
         data-live-url="{{url_for('plotted_data')}}"
         data-backtesting-url="{{url_for('backtesting_main_plotted_data', run_id='')}}"
         data-backtesting-run-id-url="{{url_for('backtesting_run_id', stop_backtesting=True)}}"
         class="resizable">
        <div  id="main-chart" class="resizable" >
        </div>
        <div class="draggable-resizer">
        </div>
        <div id="sub-chart" class="">
        </div>
    </div>

    <span id='backtesting_progress_bar' style='display: none;'>
        <div class="card-title">
            <h2 id="optimizer_progress_bar_title">Optimizer in progress</h2>
            <h2 id="backtesting_progress_bar_title">Backtesting in progress</h2>
        </div>

        <div class='progress'>
          <div id='progess_bar_anim' class='progress-bar progress-bar-striped progress-bar-animated'
                role='progressbar' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100' style='width: 0%;'></div>
        </div>
    </span>

    <div id="toolbox" class="strategy-toolbox">
        <ul class="nav nav-tabs md-tabs justify-content-center toolbox-tabs main-toolbox-tabs" id="tabs" role="tablist">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle collapsed" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">Code Editor</a>
                <div class="dropdown-menu dropdown-default">
                    <a class="nav-link primary-tab-selector" id="trading-editor-tab" data-toggle="tab" href="#trading-editor" role="tab"
                    aria-controls="trading-editor"
                    aria-selected="false">
                    trading script editor
                    </a>
                    <a class="nav-link primary-tab-selector" id="backtesting-editor-tab" data-toggle="tab" href="#backtesting-editor" role="tab"
                    aria-controls="backtesting-editor"
                    aria-selected="false">
                    backtesting script editor
                    </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link primary-tab-selector" id="strategy-settings-tab" data-toggle="tab" href="#strategy-settings" role="tab"
                   aria-controls="strategy-settings"
                   aria-selected="true">
                    Strategy Settings
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link primary-tab-selector active show" id="backtesting-tab" data-toggle="tab" href="#backtesting" role="tab"
                   aria-controls="backtesting"
                   aria-selected="false">
                    Backtesting
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link primary-tab-selector" id="optimizer-tab" data-toggle="tab" href="#optimizer" role="tab"
                   aria-controls="optimizer"
                   aria-selected="false">
                    Strategy Optimizer
                </a>
            </li>
           <div class="toolbox-buttons">
               <button id="reload-script"
                       data-url="{{ url_for('update_plot_script') }}"
                       data-backtesting-url="{{ url_for('backtesting', action_type='start_backtesting_with_current_bot_data', source='strategy_design', reset_tentacle_config=False) }}"
                       data-exchange-id="{{ exchange_id }}"
                       type="button"
                       class="btn btn-success waves-effect">Reload script</button><div class="toolbox-btn-divider">
                </div><button route="{{ url_for('commands', cmd='restart') }}" type="button" class="btn btn-warning waves-effect">Restart Octobot</button>
               <!-- div needs to be there else, whitespace will appear -->
            </div>
            <div class="fullscreen-btn-group">
                <button class="fullscreen-size-btn minimize">
                    <i class="far fa-window-minimize"></i>
                </button>
                <button class="fullscreen-size-btn fullscreen">
                    <i class="far fa-window-maximize"></i>
                </button>
            </div>
        </ul>

        <div class="tab-content" id="toolbox-tabcontent">
            <div class="tab-pane fade" id="trading-editor" role="tabreal" aria-labelledby="trading-editor-tab">
                    {% if True %}
                    <iframe class="w-100 h-100 noBorder" src="http://localhost:8888/lab/tree/tentacles/Trading/Mode/scripted_trading_mode">
                    <!-- todo open active script  / default root is trading profiles-->
                    </iframe>

                    {% else %}
                    <div class="inside-tab-content">
                        https://microsoft.github.io/monaco-editor/
                    </div>
                    {% endif %}
            </div>

            <div class="tab-pane fade" id="backtesting-editor" role="tabreal" aria-labelledby="backtesting-editor-tab">

                    {% if True %}

                    <iframe class="w-100 h-100 noBorder" src="http://localhost:8888/lab/tree/tentacles/Trading/Mode/scripted_trading_mode">
                    <!-- todo open active script  / default root is trading profiles-->
                    </iframe>

                    {% else %}
                    <div class="inside-tab-content">
                        https://microsoft.github.io/monaco-editor/
                    </div>
                    {% endif %}
            </div>

            <div class="tab-pane fade" id="strategy-settings" role="tabreal" aria-labelledby="strategy-settings-tab">
                <ul class="nav nav-tabs md-tabs justify-content-center toolbox-tabs" id="tabs" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                      <a class="nav-link primary-tab-selector active show" id="trading-script-settings-tab" data-toggle="tab" role="tab" aria-selected="true" aria-controls="trading-script-settings" href="#trading-script-settings">Trading Script Settings</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                      <a class="nav-link primary-tab-selector " id="evaluator-settings-tab" data-toggle="tab" href="#evaluator-settings" role="tab" aria-controls="evaluator-settings" aria-selected="false">Evaluator Settings</a>
                    </li>
                    <div class="toolbox-buttons">
                        <button class="btn btn-success btn-outline-success waves-effect user-input-save"
                        id="save-{{trading_mode_name}}"
                        data-tentacle="{{trading_mode_name}}"
                        data-config='{{ get_tentacle_config_file_content(tentacle_class)|tojson }}')
                        data-url="{{ url_for('config_tentacle', name=trading_mode_name, action='update', reload='true') }}">Save and reload</button>
                    </div>
                </ul>
                <div class="tab-content" id="strategy-settings-tabcontent">

                    <div class="tab-pane fade show active" id="trading-script-settings" role="tabreal" aria-labelledby="trading-script-settings-tab">
                        <div id="trading-inputs">
                        </div>
                    </div>

                    <div class="tab-pane fade" id="evaluator-settings" role="tabreal" aria-labelledby="evaluator-settings-tab">


                        <ul class="nav nav-tabs md-tabs justify-content-center toolbox-tabs" id="tabs" role="tablist">
                            <li class="nav-item waves-effect waves-light">
                              <a class="nav-link primary-tab-selector active show" id="evaluatorName1-tab" data-toggle="tab" role="tab" aria-selected="true" aria-controls="evaluatorName1" href="#evaluatorName1">Evaluator Name 1</a>
                            </li>
                            <li class="nav-item waves-effect waves-light">
                              <a class="nav-link primary-tab-selector " id="evaluatorName2-tab" data-toggle="tab" href="#evaluatorName2" role="tab" aria-controls="evaluatorName2" aria-selected="false">Evaluator name 2</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="evaluator-settings-tabcontent">

                            <div class="tab-pane fade show active" id="evaluatorName1" role="tabreal" aria-labelledby="evaluatorName1-tab">
                                evaluator 1 settings
                            </div>

                            <div class="tab-pane fade" id="evaluatorName2" role="tabreal" aria-labelledby="evaluatorName2-tab">
                                evaluator 2 settings
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="tab-pane fade show active" id="backtesting" role="tabreal" aria-labelledby="backtesting-tab">

                <ul class="nav nav-tabs md-tabs justify-content-center toolbox-tabs" id="tabs" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                      <a class="nav-link primary-tab-selector" id="backtesting-settings-tab" data-toggle="tab" role="tab" aria-selected="false" aria-controls="backtesting-settings" href="#backtesting-settings">Backtest Settings</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                      <a class="nav-link primary-tab-selector" id="backtesting-results-tab" data-toggle="tab" href="#backtesting-results" role="tab" aria-controls="backtesting-results" aria-selected="true">Backtesting Overview</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                      <a class="nav-link primary-tab-selector" id="performance-summary-tab" data-toggle="tab" href="#performance-summary" role="tab" aria-controls="performance-summary" aria-selected="false">Performance Summary</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                      <a class="nav-link primary-tab-selector show active" id="list-of-trades-tab" data-toggle="tab" href="#list-of-trades" role="tab" aria-controls="list-of-trades" aria-selected="false">List of Trades</a>
                    </li>
                    <div class="toolbox-buttons">
                        <button class="btn btn-success btn-outline-success waves-effect optimizer-input-save-and-start"
                        id="backtester-input-save-and-start-button">Save and start Backtest
                        </button>
                    </div>
                </ul>

                <div class="tab-content" id="backtesting-tabcontent">

                    <div class="tab-pane fade" id="backtesting-settings" role="tabreal" aria-labelledby="backtesting-settings-tab">
                        <div id="backtesting-inputs">
                        </div>
                    </div>

                    <div class="tab-pane fade" id="backtesting-results" role="tabreal" aria-labelledby="backtesting-results-tab">
                        <div id="backtesting-table" class="resizable ui-resizable js-plotly-plot">

                            <select id="backtesting-run-select" class="selectpicker"
                                    data-live-search="true" data-url="{{url_for('get_run_data')}}"> <!-- todo replace with multi select sortable table, plot for each selected-->
                            </select>
                        </div>
                        <div class="draggable-resizer">
                        </div>
                        <div id="backtesting-chart" data-url="{{url_for('backtesting_run_plotted_data')}}">
                        </div>
                    </div>

                    <div class="tab-pane fade" id="performance-summary" role="tabreal" aria-labelledby="performance-summary-tab">

                    </div>

                    <div class="tab-pane fade show active" id="list-of-trades" role="tabreal" aria-labelledby="list-of-trades-tab">
                        <div id="list-of-trades-part" style="width: 100%; height: 400px;">

                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="optimizer" role="tabreal" aria-labelledby="optimizer-tab">

                <ul class="nav nav-tabs md-tabs justify-content-center toolbox-tabs" id="tabs" role="tablist">
                    <li class="nav-item waves-effect waves-light">
                      <a class="nav-link primary-tab-selector show active" id="strategy-optimizer-settings-tab" data-toggle="tab" role="tab" aria-selected="false" aria-controls="strategy-optimizer-settings" href="#strategy-optimizer-settings">Optimizer Settings</a>
                    </li>
                    <li class="nav-item waves-effect waves-light">
                      <a class="nav-link primary-tab-selector" id="strategy-optimizer-results-tab" data-toggle="tab" href="#strategy-optimizer-results" role="tab" aria-controls="strategy-optimizer-results" aria-selected="true">Optimizer Results</a>
                    </li>
                    <div class="toolbox-buttons">
                        <button class="btn btn-success btn-outline-success waves-effect optimizer-input-save-and-start"
                                id="optimizer-input-save-and-start-button"
                                data-exchange-id="{{ exchange_id }}"
                                data-config-url="{{ url_for('strategy_design_config_optimizer') }}"
                                data-start-url="{{ url_for('strategy_design_start_optimizer') }}">Save and start Optimizer</button>
                        <button class="btn btn-warning btn-outline-warning waves-effect d-none"
                                id="optimizer-cancel-button"
                                data-url="{{ url_for('advanced.strategy_optimizer', update_type='cancel_optimizer') }}">Cancel Optimizer</button>
                    </div>
                </ul>
                <div class="tab-content" id="optimizer-tabcontent">

                    <div class="tab-pane fade show active" id="strategy-optimizer-settings" role="tabreal" aria-labelledby="strategy-optimizer-settings-tab">

                        <div id="strategy-optimizer-inputs">

                            {{ m_strategy_design_optimizer_settings.strategy_optimizer_setting_template() }}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="strategy-optimizer-results" role="tabreal" aria-labelledby="strategy-optimizer-results-tab">
                        <div id="strategy-optimizer-chart-or-tables">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block additional_scripts %}
<script src="{{ url_for('static', filename='js/common/backtesting_util.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
<script src="{{ url_for('static', filename='js/components/commands.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
<script src="{{ url_for('static', filename='js/components/strategy_design_optimizer.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
<script src="{{ url_for('static', filename='js/components/strategy_design_components.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
<script src="{{ url_for('static', filename='js/components/strategy_design.js', u=LAST_UPDATED_STATIC_FILES) }}"></script>
{% endblock additional_scripts %}
