{% import "components/community/tentacles_package_row.html" as tentacles_package_row %}

{% macro tentacles_packages(current_logged_in_email, role, is_donor, selected_user_bot, tentacles_packages,
                            community_url, donation_url, default_image, is_preview, show_account,
                            can_logout) -%}
<div class="card">
    <div class="card-header d-flex justify-content-between flex-wrap">
        <div>
            <h2>
                Your OctoBot account tentacles
                <span class="badge badge-danger">Coming soon</span>
            </h2>
        </div>
        <div>
            <button type="button" class="btn btn-primary card-link waves-effect ml-4"
                    {{"disabled" if is_preview}}
                    id="synchronize-tentacles"
                    update-url="{{ url_for('advanced.tentacle_packages', update_type='install_packages') }}">
                <i class="fas fa-cloud-download-alt"></i> Synchronize
            </button>
        </div>
        <div>
            <span class="float-right">
                <span class="float-right">
                    <a class="blue-text btn btn-outline-primary {{'disabled' if is_preview}}"
                       target="_blank" rel="noopener"
                       href="{{community_url if not use_preview else '#'}}">
                        <i class="fas fa-search"></i> Browse packages
                    </a>
                </span>
            </span>
        </div>
    </div>
    <div class="card-body">
        {% if show_account %}
        <div class="alert alert-dark row py-0">
            <div class="col-8 my-auto">
                <h5 class="p-0 my-0">
                    Logged in as {{current_logged_in_email}}
                    {% if selected_user_bot["name"] %}
                        using bot <span class="badge badge-info">{{ selected_user_bot["name"] }}</span>
                    {% else %}
                        <span class="badge badge-danger">without selected bot</span>
                    {% endif %}
                    <span class="ml-2 ml-md-4 text-danger-darker">
                        {% if 'tester' in role %}
                            <i class="fas fa-tools" data-toggle="tooltip" title="OctoBot tester"></i>
                        {% elif 'contributor' in role %}
                            <i class="fas fa-laptop-code" data-toggle="tooltip" title="OctoBot contributor"></i>
                        {% elif 'sponsor' in role %}
                            <i class="fas fa-star" data-toggle="tooltip" title="OctoBot sponsor"></i>
                        {% endif %}
                        {% if is_donor %}
                            <i class="fas fa-trophy" data-toggle="tooltip"
                               title="OctoBot donor: On behalf of the OctoBot team, thank you for being awesome and your donating to the project."></i>
                        {% endif %}

                        <a href="{{ donation_url }}" id=register-donation class="btn btn-sm rounded-circle btn-primary waves-effect"
                           target="_blank" rel="noopener"
                           data-toggle="tooltip" title="Register a donation.">
                            <i class="fas fa-1_5x fa-plus"></i>
                        </a>
                    </span>
                </h5>
            </div>
            {% if can_logout %}
            <div class="col-4 text-right">
                <a class="align-right btn btn-sm btn-outline-info waves-effect"
                   href="{{ url_for('community_logout')}}">
                    logout
                </a>
            </div>
            {% endif %}
        </div>
        {% endif %}
        <div id="owned-tentacles">
            {% if tentacles_packages %}
            <table class="table table-striped table-responsive-md {{'blurred' if is_preview else 'table-hover'}} ">
                <caption>
                    Add more tentacles packages by activating them on the
                    <a class="external-link" target="_blank" rel="noopener"
                           href="{{community_url if not is_preview}}">OctoBot community website</a>.
                </caption>
                <thead>
                    <tr class="text-center">
                        <th scope="col">Package</th>
                        <th scope="col">Description</th>
                        <th scope="col">State</th>
                        <th scope="col">More</th>
                    </tr>
                </thead>
                <tbody>
                {% for tentacles_package in tentacles_packages %}
                    {{ tentacles_package_row.tentacles_package_row(tentacles_package, default_image, is_preview) }}
                {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="card">
                <div class="card-header">
                    <h4>
                        No activated tentacles package found on your OctoBot community account.
                    </h4>
                </div>
                <div class="card-body">
                    <p>
                        Find community tentacles packages on the
                        <a class="external-link" target="_blank" rel="noopener"
                           href="{{community_url if not is_preview}}">OctoBot community website</a>.
                    </p>
                    <p>
                        Each activated tentacles package will be displayed here for you to add on your OctoBot.
                    </p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if is_preview %}
    <div class="card-footer">
        <div class="alert alert-dark">
            Note: these packages are only examples, they do not represent real community tentacles packages. When
            tentacles packages sharing will be available on the OctoBot community website,
            you will be able to add community packages to your OctoBot.
        </div>
    </div>
    {% endif %}
</div>
{%- endmacro %}
