
/*** temp fixes ***/
/** temp fix for screensize button **/
.main-toolbox-tabs .toolbox-buttons {
    margin-right: 50px;
}

.main-toolbox-tabs li:first-child {
    margin-left: 50px;
}
/** temp fix for screensize button END **/

body {
    /* looks better and gives more space */
    line-height: unset;
}

/*** temp fixes END ***/



/** colors **/
:root {
    --bg: #131722;
    --fnt: #b2b5be;
    --brdr: #2a2e39;
    --brdr-actv: #1e53e5;
    --fnt-hvr: #131722;
    --bg-hvr: #2a2e39;
    --fnt-actv: #1e53e5;
    --new-warning: #fb3;
    --new-success: #00c851;
}


/** reusable **/
.bg-dark, .form-control options, ul {
    background: var(--bg) !important;
    color: var(--fnt) !important;
}

.bg-dark-grey {
    background: var(--bg-hvr);
}

.bg-hvr:hover {
    background: var(--bg-hvr);
}

.noBorder {
    border:none !important
}

.brdr-b {
    border-bottom: 1px solid var(--brdr);
}

.brdr-t {
    border-top: 1px solid var(--brdr);
}

.brdr-t-xl {
    border-top: 4px solid var(--brdr) !important;
}

.brdr-l {
    border-left: 1px solid var(--brdr) !important;
}

.brdr-r, .toolbox-tabs > li:last-of-type {
    border-right: 1px solid var(--brdr) !important;
}

.brdr-actv {
    border: solid 1px var(--brdr-actv);
    border-radius: .25rem;
}

.card, .card-body {
    background-color: #131722 !important;
    border: 1px solid #2a2e39 !important;
}

.scroll_horizontal {
    display: unset;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scroll_horizontal li {
    display: inline-block;
}

.scroll_horizontal::-webkit-scrollbar {
    display: none;
}

.scroll-vertically {
    overflow-y: scroll;
}

.nav-lh {
    line-height: 41px;
}

.nav-h {
    height: 41px;
}

.p-0 {
    padding:0;
}

/** reusable END **/

/** navbar **/

#nav-toolbox {
    width: calc(100% - 44.5px) !important; /* subtracts width from main nav menu dropdown */
}

#nav-bar-left {
    min-width: calc(100vw - 356px - 44.5px);
    max-width: calc(100vw - 356px - 44.5px);
}

#time-frame-selector {
    max-width: calc(40% - 31.5px);
}

#pairs-tabs {
    min-width: 60%;
}

/** navbar END **/

/** footer **/

.footer-copyright {
    background-color: #131722 !important;
    border-top-color: #2a2e39 !important;
    border-top: solid 2px;
}

/** footer END **/

/** user inputs **/
.select2-container--default .select2-selection--multiple {
    background-color: var(--bg);
    border: 1px solid var(--brdr);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: var(--bg-hvr) !important;
    color: var(--fnt) !important;
}

.select2-container--default .select2-results__option--selected {
    background-color: var(--bg-hvr) !important;
    color: var(--fnt-actv) !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: solid var(--brdr-actv) 1px;
}

.select2-dropdown, .select2-selection__choice {
    border-color: var(--brdr-actv);
}

.form-control:focus {
    border-color: var(--brdr-actv);
    box-shadow: unset;
}

/** user inputs END **/

/** dropdowns **/

/** dropdowns **/

/** jquery resizeable **/
.ui-resizable-s {
    height: 20px;
    width: 100%;
    bottom: -10px;
    left: 0;
}
/** jquery resizeable **/

/** plotting **/

.hoverlayer line:first-child, .hoverlayer line:nth-child(3) {
    stroke: unset;
}

#backtesting-chart {
    height:50%;
}

#backtesting-table {
    height:50%;
    max-height: 98%;
}

/** cahrts END **/

/**** Toolbox ****/
/*** Toolbox Tabbar ***/

/** octobot logo **/
#octobot-logo img {
  width: 30px;
  margin-right:4px;
  float: left;
}

#octobot-logo h4 {
  margin: auto;
  float: left;
}
/** octobot logo **/

/** toolbox buttons **/
.toolbox-buttons .btn-warning, .w2ui-btn {
    color: var(--new-warning);
}

.toolbox-buttons .btn-warning:hover, .toolbox-buttons .btn .btn-warning .btn-outline-warning:hover, .w2ui-btn:hover {
    background: var(--new-warning) !important;
    color: #fff !important;
}

.toolbox-buttons .btn-success, .w2ui-btn-blue {
    color:var(--new-success);
}

.toolbox-buttons .btn-success:hover, .w2ui-btn-blue:hover {
    background: var(--new-success) !important;
    color: #fff;
}

.toolbox-btn-divider {
    display: inline-block;
    width: 1px;
}

.strategy-toolbox .btn-outline-success {
    border: 1px solid var(--new-success) !important;
    6.8px 2rem !important /* todo remove redundancy */
}

.strategy-toolbox .btn-outline-success:hover {
    color:#fff !important;
}

/** toolbox resize buttons todo fix small screen issues **/
.fullscreen-btn-group {
    float: right;
    right: 8px;
    position: fixed;
}

.fullscreen-size-btn i {
    font-size: 20px;
    align-items: center;
    border-radius: 4px;
    cursor: default;
    display: flex;
    height: 30px;
    justify-content: center;
    width: 30px;
    color: #b2b5be;
}

button.fullscreen-size-btn:hover {
    background: var(--bg-hvr);
}

button.fullscreen-size-btn {
    background: none;
    border:none;
    margin-top: 4px;
}

.fullscreen-size-btn.is-full-screen i {
    color: var(--fnt-actv);
}

/** toolbox resize buttons END **/

/** backtesting overview **/

.backtesting-run-container-values-label {
    font-size: 20px;
}

.backtesting-run-container-values-value {
    font-weight: bold;
}

/** backtesting overview END **/