/*TODO*/

.toolbox-tabs li > a {
    color: #b2b5be;
    padding: 11px 2rem;
    border: none !important;
}

.toolbox-tabs > li > a.active {
    color: #1e53e5 !important;
    border: none !important;
    background: none !important;
}

.toolbox-tabs > li > a:hover {
    border-color: unset !important;
    border: none !important;
    background: #2a2e39;
    border-radius: unset;
}

.strategy-toolbox {
    position: absolute;
}

.toolbox-buttons .btn {
    border-radius: 0;
    background-color: #131722 !important;
    font-size: 1rem;
    text-transform: unset;
    padding: 8px 2rem;
}


.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: var(--brdr);
    border-radius: 0;
    background: var(--bg-hvr) !important;
}

#strategy-optimizer-inputs *{
    border-color: #2a2e39 !important;
}

#strategy-optimizer-inputs > .mx-4 > .row.border > div {
    line-height: 1.5;
    padding: 8px 2rem;
}


/** navbar **/
.navbar-toggler, .timeframe-toggler {
    color: #b2b5be
}

.navbar-toggler {
    border-radius: 0;
    padding: 0 12px !important;

}


#nav-bar-left .active-timeframe a {

    padding: 0 10px;

    color: #b2b5be;
}
.timeframe-toggler i, .add-evaluator {
     font-size: 12px;
}


#nav-bar-left a.timeframe-toggler {
    padding: 0 10px;
}

#nav-bar-left .active-timeframe.selected a {
    color: #1e53e5 ;
}

.nav-tabs .nav-item {
    margin-bottom: 0;
}

#nav-bar-right {
    border-top: 0;
    flex-direction: row-reverse;
    padding: 0;
    right: 0;
    position: fixed;
}

#nav-bar-right a {
    padding: 0 10px;
}


