{% macro strategy_optimizer_setting_template() -%}
<div class="mx-4">
    <div class="row border">
        <div class="col-3">Input name</div>
        <div class="col-6">Values</div>
        <div class="col-3">Enabled</div>
    </div>
    <div class="row border" id="optimizer-settings-root">
    </div>
    <div class="row border d-none" id="optimizer-settings-default-values">
        {{ strategy_optimizer_setting("number") }}
        {{ strategy_optimizer_setting("options") }}
        {{ strategy_optimizer_setting("multiple-options") }}
        {{ strategy_optimizer_setting("boolean") }}
    </div>
</div>
{%- endmacro %}


{% macro strategy_optimizer_setting(value_type) -%}
    <div class="row w-100 mx-0 border" id="optimizer-settings-{{value_type}}-template">
        <div class="col-3 setting-name" id="XYZInput-name">
            XYZ
        </div>
        <div class="col-6 setting-values row" id="XYZInput-values">
            {% if value_type == "number" %}
                {{ strategy_optimizer_number_setting_values() }}
            {% elif value_type == "options" %}
                {{ strategy_optimizer_options_setting_values() }}
            {% elif value_type == "multiple-options" %}
                {{ strategy_optimizer_options_setting_values() }}
            {% elif value_type == "boolean" %}
                {{ strategy_optimizer_boolean_setting_values() }}
            {% endif %}
        </div>
        <div class="col-3 setting-enabled" id="XYZInput-enabled">
            <div class="custom-control custom-switch">
              <input type="checkbox"
                     class="custom-control-input"
                     data-tentacle-name="TENTACLEABC"
                     id="XYZInput-enabled-value">
              <label class="custom-control-label text-capitalize"
                     for="XYZInput-enabled-value"
                     data-toggle="tooltip" title="Enabled">
              </label>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro strategy_optimizer_number_setting_values() -%}
    <div class="col-4">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <label class="input-group-text" for="XYZInput-setting-number-min">Min</label>
          </div>
          <input type="number" step="0.000001" value="ZYXDefaultValue"
                 id="XYZInput-setting-number-min"
                 class="form-control optimizer-input-setting"
                 data-tentacle-name="TENTACLEABC"
                 data-input-setting-name="XYZ_min"
                 data-input-setting-base-name="XYZ"
                 data-type="number"
                 aria-label="Small" aria-describedby="XYZInput-setting-number-min">
        </div>
    </div>
    <div class="col-4">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <label class="input-group-text" for="XYZInput-setting-number-max">Max</label>
          </div>
          <input type="number" step="0.000001" value="ZYXDefaultValue"
                 id="XYZInput-setting-number-max"
                 class="form-control"
                 data-tentacle-name="TENTACLEABC"
                 data-input-setting-name="XYZ_max"
                 data-input-setting-base-name="XYZ"
                 data-type="number"
                 aria-label="Small" aria-describedby="XYZInput-setting-number-max">
        </div>
    </div>
    <div class="col-4">
        <div class="input-group input-group-sm">
          <div class="input-group-prepend">
            <label class="input-group-text" for="XYZInput-setting-number-step">Step</label>
          </div>
          <input type="number" step="0.000001" value="1"
                 id="XYZInput-setting-number-step"
                 class="form-control"
                 data-tentacle-name="TENTACLEABC"
                 data-input-setting-name="XYZ_step"
                 data-input-setting-base-name="XYZ"
                 data-type="number"
                 aria-label="Small" aria-describedby="XYZInput-setting-number-step">
        </div>
    </div>
{%- endmacro %}

{% macro strategy_optimizer_options_setting_values() -%}
    <div class="col">
       <label class="text-capitalize" for="XYZInput-setting-options"></label>
       <select id="XYZInput-setting-options"
               class="optimizer-input-setting"
               data-tentacle-name="TENTACLEABC"
               data-input-setting-name="XYZ"
               data-input-setting-base-name="XYZ"
               data-type="string"
               multiple="multiple"
               style="width: 99%">
        </select>
    </div>
{%- endmacro %}

{% macro strategy_optimizer_boolean_setting_values() -%}
    <div class="col">
       <label class="text-capitalize" for="XYZInput-setting-boolean"></label>
       <select id="XYZInput-setting-boolean"
               class="w-100 optimizer-input-setting"
               data-tentacle-name="TENTACLEABC"
               data-input-setting-name="XYZ"
               data-input-setting-base-name="XYZ"
               data-type="boolean"
               multiple="multiple"
               style="width: 99%">
            <option value="true">
                True
            </option>
            <option value="false">
                False
            </option>
        </select>
    </div>
{%- endmacro %}
