{% import 'macros/trading_state.html' as m_trading_state %}
{% macro create_trading_state_modal(is_real_trading, enabled_trader) -%}
    <div class="modal fade" id="tradingSwitchModal" tabindex="-1" role="dialog" aria-labelledby="tradingSwitchModalTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="tradingSwitchModalTitle">Currently using : {{ m_trading_state.display_trading_state(is_real_trading, enabled_trader, False) }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <p>
                {% if is_real_trading %}
                    By switching to simulated trading, OctoBot will only use its simulation mode on real market conditions.
                    It will no longer create trade with your exchange account, it will use a simulated portfolio managed by OctoBot.

                    <div class="my-4 text-center">
                        <a class="btn btn-primary waves-effect trading-mode-switch-button" href="#" update-url="/config" href="/" config-type="global_config" config-key="trader-simulator_enabled" current-value="True">Switch to simulated trading</a>
                    </div>
                {% else %}
                    <h5>
                        <span class="badge badge-danger">
                            By switching to real trading, OctoBot will use your <b>real</b> funds
                        </span>
                    </h5>
                    <div class="my-4 text-center">
                        <a class="btn btn-primary waves-effect" href="">Stay</a>
                        <a class="btn btn-danger waves-effect trading-mode-switch-button" update-url="/config" href="/" config-type="global_config" config-key="trader_enabled" current-value="True">Switch to real trading</a>
                    </div>
                {% endif %}
                <h5>
                    <span class="badge badge-warning">
                        This button will also restart OctoBot
                    </span>
                </h5>
              </p>
          </div>
        </div>
      </div>
    </div>
{%- endmacro %}
